body { 
    color:#fff; 
    height: 100%;
}



.choice-container {
    display: flex;
    margin-bottom: 30px; 
    width: 100%; 
    border-radius: 20px;
    background: rgb(88, 8, 163);
    font-size: 30px; 
    min-width: 500px; 
 
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px 0 rgba(18, 114, 244, 0.6); 
    transition: transform 150ms; 
    transform: scale(1.03); 
}

.choice-prefix {
    padding: 20px 20px; 
    color:white;
}

.choice-text {
    padding:20px; 
    width: 100%; 
}

.correct {
    background: rgb(7, 241, 7);
}

.incorrect {
    background: rgb(139, 3, 3); 
}

#hud {
    display:flex;
    justify-content:space-between; 
}

.hud-prefix {
    text-align:center; 
    font-size: 40px; 
}

.hud-main-text {
    text-align:center; 
}

#progressbar {
    width: 40px;
    height:50px; 
    border: 3px  rgb(7, 241, 7);
    margin-top: 3px; 
    border-radius:50px;
    overflow:hidden; 
}

#progressbarfull {
    height: 100%;
    background:rgb(7, 241, 7); 
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width:400px; 
    }

}